.arrow{
    fill: none;
		stroke-width:3;
		stroke:#000;
	}

.line {
  fill: none;
  /*stroke: #000;*/
  stroke-width: 1.5px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #bbb;
}

