rect {
  fill: none;
  pointer-events: all;
}

.node {
  /*fill: #000;*/
}

.link {
  stroke: #999;
}

.node#active {
  /*fill: #0f0;*/
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}